.button {
  display: flex;
  padding: 0.8rem;
  border: 1px solid #ddd;
  background-color: rgb(0, 0, 255);
  color: white;
  margin: 0;
  cursor: pointer;
  border-radius: 0.5rem;
  gap: 5px;
  align-items: center;
}

.button:hover {
  background-color: rgb(63, 63, 255);
}

.button:active {
  background-color: rgb(106, 106, 255);
}

.button:focus {
  outline: 1px solid black;
}

.button:focus:active {
  outline: none;
}